body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0px;
    margin: 0px;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
}

/********************* NAVBAR ************************/
header nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
header #logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
header li :hover {
    background-color: #FFFAE1;
}
/* **************** PHOTO PRINCIPALE ******************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(media/p.1.JPG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
} 
#imagePrincipale h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 11%;
    text-shadow: 1px 3px 2px #050201;
}
#imagePrincipale h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px #050201;
}
#imagePrincipale #premierTrait {
    height: 0.1em;
    width: 25%;
    margin: -3px auto;
    background-color: beige;
    box-shadow: 1px 3px 2px #050201;
}

/* ******************* PRESENTATION ******************** */

#presentation {
    background-color: #FFFAE1;
    padding: 10px 0 100px 0;
}
#presentation #texteIntro {
    padding: 0px 20%;
}
#prestations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 10%;
}
#prestations .imagesPrestations p {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
}
#prestations .imagesPrestations img {
    border-radius: 10px;
    box-shadow: 6px 6px 3px 1px rgba(0,0,0,0.6);
}
#prestations .imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-out;
}

/* ********************* TOURISME *********************** */

#tourisme {
    height: 1320px;
    background-color: rgba(245, 245, 245, 0.788);
    padding: 1px 2%;
}
#tourisme h2 {
    padding-top: 6%;
}
#tourisme li {
    margin: 65px 100px 0 100px;;
    height: 226px;
    width:550px;
    z-index: 2;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#tourisme p {
    height: 45px;
    width: 235px;
    background-color: #01DF74;
    float: right;
    margin: 9% -200px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 8px 8px 0px 1px rgba(51,15,158,1);
}
#tourisme #chateau, #tourisme #vignoble {
    float: right;
}
#tourisme #chateau p, #tourisme #vignoble p {
    float: left;
    background-color: cyan;
    margin-left: -200px;
    box-shadow: -8px 8px 0px 1px rgba(15,154,156,1);
}
#tourisme #ocean {
    background: url(media/p.3.1.jpg);
}
#tourisme #chateau {
    background: url(media/p.3.2.JPG);
}
#tourisme #phare {
    background: url(media/p.3.3.JPG)
}
#tourisme #vignoble {
    background: url(media/p.3.4.jpg)
}

/* ********************** FOOTER ********************* */

footer {
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 2px 0 50px 0;
}
footer h2 {
    padding-top: 30px;
}
form {
    text-align: center;
}
#contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 10%;
}
input, textarea {
    border: none;
    padding: 11px 4px;
    width: 35%;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    margin: 0.2%;
    border-radius: 8px;
}
textarea {
    height: 120px;
    width: 71%;
    margin-top: 5px;
}
button {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin: 2px 0 0 2px;
    font-size: 1.7em;
    background-color: #FFFAE1;
}
button:hover {
    opacity: 0.5;
    transition: 0.3s;
}
footer #deuxiemeTrait  {
    height: 0.1em;
    width: 800px;
    background-color: #FFFAE1; 
    margin: 55px auto;
}
footer #copyrightAndIcons {
    display: flex;
}
footer #copyright {
    width: 40%;
    padding-left: 13%;
    text-decoration: none;
    color: #FFFAE1;
}
#icons {
    width: 60%;
    text-align: right;
    padding-right: 13%;
}
footer #icons a {
    display: inline-block;
    margin: 0 15px;
    text-align: right;
    font-size: 1.3em;
    color: #FFFAE1;
}
footer #icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}